.sass-cache
node_modules
bower_components
psd
*.zip
*.psd
*.ai
*.doc
*.docx
*.ppt
*.psd
*.pptx
*.xls
*.xlsx
*.sublime-project
*.sublime-workspace
*.sln
*.settings
*.cfg
*.DS_Store
plan_data/*
version
config.rb
