lg-size = 1199px
md-size = 991px
sm-size = 766px

_green = #209A7E;
_green-light = _green + 50;
_green-shock = #30E6BD;
_green-dark = #34675B;

_blue = #1381B3;
_blue-dark = #4E7180;

_red = #B3132A;
_red-light = #EA786B;

_gray = #eee;
_gray-dark = #ccc;
_white = #FFF;
_black = #000;

fontMing =  STSong , FangSong , Nmingliu , STFangsong, arial;